@media only screen and (max-width : 2500px) {
	.page-wrapper{
		overflow:hidden;
	}
	
}
@media only screen and (max-width : 992px) {
	.mt-xl-40{
		margin-top:40px;
	}
	.mb-xl-40{
		margin-bottom:40px;
	}
	
	
}
@media only screen and (max-width : 991px) {
	.mt-lg-40{
		margin-top:40px;
	}
	.mb-lg-40{
		margin-bottom:40px;
	}
}


@media only screen and (max-width: 767px) {
	.atf-section-title h2 {
		font-size:28px;
	}
	.atf-hero-content .title{
		font-size:28px;
	}
}
@media only screen and (max-width: 575px) {
	.nav-fill .nav-item {
		margin-bottom: 15px;
	}
}
