{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Explore the future of construction, technology, urbanism, and sustainability in 2050. Discover quantum foundations, neural architecture, vertical forests, and more.">
  <meta name="keywords" content="2050, future, construction, technology, urbanism, sustainability, architecture, innovation">
  <meta name="author" content="2050 Blog">
  <meta name="robots" content="index, follow">
  
  <title>Blog | General Construction Company </title>
  
  <link rel="canonical" href="/blog.html">
  <link rel="alternate" type="application/rss+xml" title="2050 Blog RSS Feed" href="/rss.xml">
  
  <!-- Open Graph -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="2050 Blog | Future of Construction & Urban Living">
  <meta property="og:description" content="Explore the future of construction, technology, urbanism, and sustainability in 2050.">
  <meta property="og:url" content="/blog.html">
  <meta name="description" content="Discover our story, mission, and the passionate team behind our innovation. Learn about our journey from a small startup to an industry leader.">
  
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/favicons/1.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/favicons/1.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicons/1.png' %}" />
    <link rel="manifest" href="{% static 'assets/images/favicons/site.webmanifest' %}" />
  <!-- Fonts -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
  
  <!-- Styles -->
  <link rel="stylesheet" href="{% static 'css/blog-style.css' %}">
  


    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/custom-animate.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/swiper.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome-all.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/jarallax.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/jquery.magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/odometer.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/twentytwenty.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/slider.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/feature.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/about.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/sliding-text.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/services.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/projects.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/design-interior.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/testimonial.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/video.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/awards.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/blog.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/brand.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/counter.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/team.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/module-css/before-after.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/module-css/how-it-work.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/custom-animate.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/swiper.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome-all.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/jarallax.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/jquery.magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/odometer.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/twentytwenty.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/slider.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/feature.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/about.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/sliding-text.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/services.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/projects.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/design-interior.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/testimonial.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/video.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/awards.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/blog.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/brand.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/counter.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/team.css' %}" />
    <!-- template styles -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}" />
  <!-- JSON-LD -->
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Blog",
    "name": "2050 Blog",
    "description": "Explore the future of construction, technology, urbanism, and sustainability in 2050.",
    "url": "/blog.html",
    "publisher": {
      "@type": "Organization",
      "name": "2050 Blog"
    }
  }
  </script>
  <style>
    body {
     
      background-color: #101116;
      color: hsl(var(--foreground));
      line-height: 1.6;
      overflow-x: hidden;
    }

     #hover {
      background-color: hsl(222, 73%, 87%); /* lighter */
      height: 43px;
      border-radius: 3px;
      color:#1e3cae;
    }
  </style>
</head>
<body>
<div class="theme-border-left"></div>
        <div class="theme-border-right"></div>
        <div class="page-wrapper">
            <header class="main-header">
           <nav class="main-menu">
                <div class="main-menu__wrapper">
                    <div class="container">
                        <div class="main-menu__wrapper-inner">
                            <div class="main-menu__logo">
                                
                                <a href="index.html"><img src="{% static 'assets/images/resources/2.png' %}" alt=""
                                    style="width: 90%;"></a>
                                
                            </div>
                            <div class="main-menu__top">
                                <div class="main-menu__top-inner">
                                    <ul class="list-unstyled main-menu__contact-list">
                                        <li>
                                            <div class="icon">
                                                <i class="icon-telephone"></i>
                                            </div>
                                            <div class="text">
                                                <p><a href="tel:+251-11-4-62-37-58"> +251-11-4-62-37-58</a></p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <i class="icon-envelope-2"></i>
                                            </div>
                                            <div class="text">
                                                <p><a href="mailto:kedirhass7122@gmail.com">kedirhass7122@gmail.com</a>
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="main-menu__top-right">
                                        <div class="main-menu__top-time">
                                            <div class="main-menu__top-time-icon">
                                                <span class="far fa-clock"></span>
                                            </div>
                                            <p class="main-menu__top-text">Mon - Fri: 09:00 - 05:00</p>
                                        </div>
                                        <div class="main-menu__social">
                                            <a href="index.html#"><i class="fab fa-twitter"></i></a>
                                            <a href="index.html#"><i class="fab fa-facebook"></i></a>
                                            <a href="index.html#"><i class="fab fa-pinterest-p"></i></a>
                                            <a href="index.html#"><i class="fab fa-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-menu__bottom">
                                <div class="main-menu__main-menu-box">
                                    <a href="index.html#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                                    <ul class="main-menu__list">
                                    <li >
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li class="dropdown">
                                        <a>About  </a>
                                        <ul>
                                            <li><a href="about.html">About-us</a></li>
                                            <li><a href="ourteam.html">Our Team</a></li>
                                    </ul>
                                </li >

                                    <li>
                                        <a href="services.html">Services</a>
                                    </li>

                <li class="dropdown ">
                    <a>Blog</a>
                    <ul>
                        <li><a href="blog.html" id="hover">Blog and News</a></li>
                        <li><a href="project.html">Our Projects </a></li>
                    </ul>
                </li>

                <li class="dropdown ">
                    <a>Sisters Company</a>
                    <ul>
                        <li><a href="Agriculture.html">Agriculture</a></li>
                        <li><a href="coming-soon.html">Import and Export</a></li>
                    </ul>
                </li>
                <li>
                    <a href="job-list.html">Job Vacancy</a>
                    
                </li>
                <li >
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
                                            </div>

                                            <div class="main-menu__search-and-btn-box">
                                                <div class="main-menu__search-box">
                                                <a href="tel:+251-9-11-29-00-37" class="main-menu__search search-toggler">
                                                
                                                 <span class="phone-ripple">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="phone-icon">
        <path d="M376 32C504.1 32 608 135.9 608 264C608 277.3 597.3 288 584 288C570.7 288 560 277.3 560 264C560 162.4 477.6 80 376 80C362.7 80 352 69.3 352 56C352 42.7 362.7 32 376 32zM384 224C401.7 224 416 238.3 416 256C416 273.7 401.7 288 384 288C366.3 288 352 273.7 352 256C352 238.3 366.3 224 384 224zM352 152C352 138.7 362.7 128 376 128C451.1 128 512 188.9 512 264C512 277.3 501.3 288 488 288C474.7 288 464 277.3 464 264C464 215.4 424.6 176 376 176C362.7 176 352 165.3 352 152zM176.1 65.4C195.8 60 216.4 70.1 224.2 88.9L264.7 186.2C271.6 202.7 266.8 221.8 252.9 233.2L208.8 269.3C241.3 340.9 297.8 399.3 368.1 434.2L406.7 387C418 373.1 437.1 368.4 453.7 375.2L551 415.8C569.8 423.6 579.9 444.2 574.5 463.9L573 469.4C555.4 534.1 492.9 589.3 416.6 573.2C241.6 536.1 103.9 398.4 66.8 223.4C50.7 147.1 105.9 84.6 170.5 66.9L176 65.4z"/>
    </svg>
    <span class="ripple"></span>
</span>

                                                </a>
                                            </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
           </header>
            <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div>
        </div>

  
  <main>
    <!-- Categories -->
<section class="categories-section">
      <div class="container1">
        <div class="categories-header">
          
          
        </div>
        <div id="categoriesContainer" class="categories-list" role="tablist">
          <!-- Categories rendered by JS -->
        </div>
      </div>
    </section>
    
    <!-- Posts Grid -->
    <section class="posts-section">
        <div class="section-shape-1" style="background-image: url('{% static 'assets/images/shapes/section-shape-1.png' %}');"></div>
              
      <div class="container1">
        <div id="postsGrid" class="posts-grid" role="feed" aria-label="Blog posts">
          {% for post in posts %}
          <article class="post-card">
            <div class="post-thumbnail">
              {% if post.image %}
              <img src="{{ post.image.url }}" alt="{{ post.title }}" loading="lazy">
              {% endif %}
              <span class="post-category-badge">{{ post.category }}</span>
            </div>
            <div class="post-content">
              <div class="post-meta">
                <time datetime="{{ post.date|date:'Y-m-d' }}">
                  <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                    <line x1="16" y1="2" x2="16" y2="6"></line>
                    <line x1="8" y1="2" x2="8" y2="6"></line>
                    <line x1="3" y1="10" x2="21" y2="10"></line>
                  </svg>
                  {{ post.date|date:"F j, Y" }}
                </time>
                <span class="reading-time">
                  <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <circle cx="12" cy="12" r="10"></circle>
                    <polyline points="12 6 12 12 16 14"></polyline>
                  </svg>
                  5 min read
                </span>
              </div>
              <h2 class="post-title">
                <a href="{% url 'blog_detail' post.id %}">{{ post.title }}</a>
              </h2>
              <p class="post-description">{{ post.content|truncatewords:20 }}</p>
              <div class="post-footer">
                 <a href="{% url 'blog_detail' post.id %}" class="read-more">Read More</a>
              </div>
            </div>
          </article>
          {% endfor %}
        </div>
        
        <nav id="paginationContainer" class="pagination" aria-label="Pagination">
          <!-- Pagination rendered by JS -->
        </nav>
      </div>
    </section>
  </main>
  
  <!--Site Footer Start-->
        <footer class="site-footer">
            <div class="site-footer__shape-1 float-bob-x">
                <img src="{% static 'assets/images/shapes/site-footer-shape-1.png' %}" alt="">
            </div>
            <div class="site-footer__shape-2 float-bob-y">
                <img src="{% static 'assets/images/shapes/site-footer-shape-2.png' %}" alt="">
            </div>

            

            <div class="container">
                <div class="site-footer__top">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                            <div class="footer-widget__column footer-widget__about">
                                <div class="footer-widget__logo">
                                    <a href="index.html"><img src="{% static 'assets/images/resources/2.png' %}"
                                            alt=""
                                             style="width: 90%;"></a>
                                </div>
                                <p class="footer-widget__about-text">
  We are committed to delivering quality construction services with integrity, innovation, and client satisfaction at the forefront of everything we do.
</p>

                                <div class="site-footer__social">
                                    <a href="index.html#"><i class="fab fa-twitter"></i></a>
                                    <a href="index.html#"><i class="fab fa-facebook"></i></a>
                                    <a href="index.html#"><i class="fab fa-pinterest-p"></i></a>
                                    <a href="index.html#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                            <div class="footer-widget__column footer-widget__usefull-link">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">Useful Links</h3>
                                </div>
                                <div class="footer-widget__link-box">
                                    <ul class="footer-widget__link list-unstyled">
                                        <li><a href="contact.html">Our Support</a></li>
                                        <li><a href="about.html">System Status</a></li>
                                        <li><a href="about.html">Knowledge base</a></li>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="contact.html">Contact us</a></li>
                                        <li><a href="contact.html">Write For Us</a></li>
                                    </ul>
                                    <ul class="footer-widget__link footer-widget__link-2 list-unstyled">
                                        <li><a href="about.html">Ebooks</a></li>
                                        <li><a href="about.html">Cloudways Users</a></li>
                                        <li><a href="about.html">Group</a></li>
                                        <li><a href="about.html">Customer Voice</a></li>
                                        <li><a href="about.html">Properties Right</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                            <div class="footer-widget__column footer-widget__services">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">Our Services</h3>
                                </div>
                                <ul class="footer-widget__link list-unstyled">
                                    <li><a href="harmony-interiors.html">Harmony Interiors</a></li>
                                    <li><a href="about.html">Amman Rotane Hotel</a></li>
                                    <li><a href="about.html">European Lard Sration</a></li>
                                    <li><a href="evolve-space-designs.html">Evolve Space Designs</a></li>
                                    <li><a href="eden-home-styling.html">Eden Home Styling</a></li>
                                    <li><a href="interior-design.html">Interior Design </a></li>
                                    <li><a href="urban-design.html">Human Resources</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                            <div class="footer-widget__column footer-widget__instagram">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">Instagram</h3>
                                </div>
                                <ul class="footer-widget__instagram-list list-unstyled clearfix">
                                    <li>
                                        <div class="footer-widget__instagram-img">
                                            <img src="https://i.postimg.cc/sfwgHWgm/pexels-quang-nguyen-vinh-222549-2138126-(1)-(1).jpg" alt="">
                                            <a href="index.html#"><span class="fab fa-instagram"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__instagram-img">
                                            <img src="https://i.postimg.cc/BvTqTLzJ/pexels-bltkrn-35368937-(1)-(1).jpg" alt="">
                                            <a href="index.html#"><span class="fab fa-instagram"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__instagram-img">
                                            <img src="https://i.postimg.cc/Wz3Tc91Z/pexels-mikebirdy-144632-(1).jpg" alt="">
                                            <a href="index.html#"><span class="fab fa-instagram"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__instagram-img">
                                            <img src="https://i.postimg.cc/Y9XBR1f5/pexels-mikegiugliano-2388358-(1).jpg" alt="">
                                            <a href="index.html#"><span class="fab fa-instagram"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__instagram-img">
                                            <img src="https://i.postimg.cc/Wz3Tc91Z/pexels-mikebirdy-144632-(1).jpg" alt="">
                                            <a href="index.html#"><span class="fab fa-instagram"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__instagram-img">
                                            <img src="https://i.postimg.cc/sfwgHWgm/pexels-quang-nguyen-vinh-222549-2138126-(1)-(1).jpg" alt="">
                                            <a href="index.html#"><span class="fab fa-instagram"></span></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">
                <div class="container">
                    <div class="site-footer__bottom-inner">
                        <p class="site-footer__bottom-text">© 2025
                            Copyright <a href="index.html#">Global General Construction company .</a> | All rights reserved</p>
                        <ul class="list-unstyled site-footer__bottom-menu">
                            <li><a href="about.html">Privacy & Policy</a></li>
                            <li><a href="about.html">Terms of use</a></li>
                            <li><a href="about.html">Cookie Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
   <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image"><img src="{% static 'assets/images/resources/2.png' %}" width="150"
                        alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:needhelp@packageName__.com">needhelp@tecture.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="index.html#" class="fab fa-twitter"></a>
                    <a href="index.html#" class="fab fa-facebook-square"></a>
                    <a href="index.html#" class="fab fa-pinterest-p"></a>
                    <a href="index.html#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->            <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="index.html#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->            <a href="blog.html#" data-target="html" class="scroll-to-target scroll-to-top">
        <span class="scroll-to-top__wrapper"><span class="scroll-to-top__inner"></span></span>
        <span class="scroll-to-top__text"> Go Back Top</span>
    </a>            <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/jarallax.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.appear.min.js' %}"></script>
<script src="{% static 'assets/js/swiper.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.circle-progress.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'assets/js/odometer.min.js' %}"></script>
<script src="{% static 'assets/js/wNumb.min.js' %}"></script>
<script src="{% static 'assets/js/wow.js' %}"></script>
<script src="{% static 'assets/js/isotope.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-ui.js' %}"></script>
<script src="{% static 'assets/js/jquery.circleType.js' %}"></script>
<script src="{% static 'assets/js/jquery.lettering.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'assets/js/marquee.min.js' %}"></script>
<script src="{% static 'assets/js/countdown.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-sidebar-content.js' %}"></script>
<script src="{% static 'assets/js/twentytwenty.js' %}"></script>
<script src="{% static 'assets/js/jquery.event.move.js' %}"></script>
<script src="{% static 'assets/js/gsap/gsap.js' %}"></script>
<script src="{% static 'assets/js/gsap/ScrollTrigger.js' %}"></script>
<script src="{% static 'assets/js/gsap/SplitText.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>
<script src="{% static 'assets/js/countdown.min.js' %}"></script>
<!-- <script src="{% static 'js/blog-script.js' %}"></script> -->
</body>
</html>
